/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "bepo-keymap.h"

#define QUICK_TAP_TIMEOUT 300
// layers

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define QWERTY  3


// None/Trans
#define _____ &none
#define t____ &trans

#define c_ESC LCTRL ESC

#define s_A LSHFT _A
#define a_U LALT _U
#define c_I LCTRL _I
#define g_E LGUI _E
#define s_N RSHFT _N
#define a_R RALT _R
#define c_S RCTRL _S
#define g_T RGUI _T
#define s_SPC LSHFT SPC
#define l_RET LOWER RET
#define r_RET RAISE RET
#define s_BSPC RSHFT BSPC

&mt {
  flavor = "tap-preferred";
  quick-tap-ms = <QUICK_TAP_TIMEOUT>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <QUICK_TAP_TIMEOUT>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  B  |  É  |  P   |  O   |  W    |                                          |  ^   |  V    |  D    |  L   |   J   |   Ç  |
// |  ESC  |  A  |  U  |  I   |  E   |  ,    |                                          |  C   |  T    |  S    |  R   |   N   |   M  |
// | SHIFT |  Z  |  Y  |  X   |  .   |  K    | L SHIFT |  LOWER  |  |  RAISE  |   DEL   |  '   |  Q    |  G    |  H   |   F   | CTRL |
//                     |  ⮾   | L-ALT | S·SPC | R·RET |   none  |  |   RET   |   RET  | BSPC | R-ALT |   ⮾   |
			bindings = <
	&kp TAB   &kp _B  &kp _ECU &kp _P  &kp _O    &kp _W                                            &kp _CIRC  &kp _V   &kp _D  &kp _L  &kp _J  &kp _CCED
	&mt c_ESC &hm s_A &hm a_U  &hm c_I &hm g_E   &kp _COMMA                                        &kp _C     &hm g_T  &hm c_S &hm a_R &hm s_N &kp _M
	&kp LSHFT &kp _Z  &kp _Y   &kp _X  &kp _DOT  &kp _K &kp LSHFT &mo LOWER   &mo RAISE &kp DEL    &kp _QUOT  &kp _Q   &kp _G  &kp _H  &kp _F  &kp RCTRL
	                           &kp C_PP &kp LALT &mt s_SPC  &lt l_RET &none   &kp RET   &lt r_RET &mt s_BSPC &kp _A &none
			>;

            sensor-bindings = <&inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};


		lower_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |   $   |  "  |  «  |  »   |  (   |  )    |                                          |  @   |  +    |  -    |  /   |   *   |   =  |
// |  TAB  |  à  |  <  |  >   |  [   |  ]    |                                          | LEFT | DOWN  |  UP   | RIGHT|   %   |      |
// | SHIFT |  è  |  X  |  C   |  {   |  }    | L SHIFT | L SHIFT |  | L SHIFT |   DEL   |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     |  ⮾   | GUI  | L-ALT |   SPC   |   RET   |  |   RET   |   BSPC  | BSPC | R-ALT |   ⮾   |
			bindings = <
	&kp _DOL  &kp _DQUOT   &kp _LGUIL  &kp _RGUIL   &kp _LBRA   &kp _RBRA                  &kp _AT   &kp _PLUS   &kp _MINUS   &kp _SLASH   &kp _AST   &kp _EQUAL
	t____     &kp _ACU     &kp _LESS   &kp _GREAT   &kp _LSBRA  &kp _RSBRA                 &kp LEFT  &kp DOWN    &kp UP       &kp RIGHT    &kp _PERC  t____
	t____     &kp _EGR     t____       t____        &kp _LCBRA  &kp _RCBRA                 t____     t____       t____        t____        t____      t____
	                                     &none   t____   &kp _UNDS   t____   t____    t____   t____   &kp DEL   t____   &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		raise_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5    |                                          |  6   |  7    |  8    |  9   |   0   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G    |                                          | LEFT | DOWN  |  UP   | RIGHT|       |      |
// | SHIFT |  Z  |  X  |  C   |  V   |  B    | L SHIFT | L SHIFT |  | L SHIFT |   DEL   |  N   |  M    |  ,    |  .   |   /   | CTRL |

//                     |  ⮾   | GUI  | L-ALT |   SPC   |   RET   |  |   RET   |   BSPC  | BSPC | R-ALT |   ⮾   |
			bindings = <
	&kp _HASH     &kp _1       &kp _2      &kp _3       &kp _4      &kp _5                  &kp _6    &kp _7      &kp _8       &kp _9       &kp _0 &kp _EQUAL
	t____     t____        t____       t____        t____       t____                      &kp LEFT  &kp DOWN    &kp UP       &kp RIGHT    t____      t____
	t____     t____        t____       t____        t____       t____               t____     t____       t____        t____        t____      t____
	                                     &none   t____   t____   t____   t____    t____   t____   &kp DEL   t____   &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		qwerty_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T    |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G    |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B    | L SHIFT | L SHIFT |  | L SHIFT |   DEL   |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     |  ⮾   | GUI  | L-ALT |   SPC   |   RET   |  |   RET   |   BSPC  | BSPC | R-ALT |   ⮾   |
			bindings = <
	&kp ESC   &kp Q       &kp W       &kp E      &kp R      &kp T                          &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &hm LSHFT A &hm LCTRL S &hm LALT D &hm LGUI F &kp G                          &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &mo LOWER        &mo RAISE &kp DEL   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                &none         &kp A &kp LALT &kp SPACE &kp RET     &kp RET   &kp BSPC  &kp BSPC &kp RALT &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
